beautifulsoup4==4.11.1
concise-concepts==0.5.4
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.0/en_core_web_lg-3.4.0-py3-none-any.whl
pandas==1.4.3
pdfminer==20191125
PyMuPDF==1.20.1
spacy==3.4.1
spacy-streamlit==1.0.4
streamlit==1.11.0
